@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,100&display=swap');

.mainBox {
  margin-left: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.quoteText {
  max-width: 55%;
  text-align: center;
  font-size: 25px;
  font-family: 'Comfortaa', cursive;
  margin-top: 15px;
}

.charText {
  margin: 3rem;
  font-family: 'Lucida Console', Monaco, monospace;
}

.image {
  margin: 15px;
  max-height: 300px;
  width: 200px;
}
